In [2]:
schools = {
    'ironhack' : 10828,
    'app-academy' : 10525,
    'springboard' : 11035,
    'le-wagon' : 10868,
    'general-assembly':10761,
    'brainstation': 10571,
    'flatiron-school': 10748,
    '4geeks-academy': 10492,
    'academia-de-codigo':10494,
    'wild-code-school':11169,
    'edit-disruptive-digital-education':10731,
    'nuclio-digital-school':11509,
    'neoland':10906,
    'la-capsule':10853,
    'careerfoundry':10581,
    'neue-fische': 11753,
}

import re
import pandas as pd
from pandas.io.json import json_normalize
import requests

In [3]:
from pandas.io.json import json_normalize

def get_school_info(school, school_id):
    url = 'https://www.switchup.org/chimera/v1/bootcamp-data?mainTemplate=bootcamp-data%2Fdescription&path=%2Fbootcamps%2F'+ str(school) + '&isDataTarget=false&bootcampId='+ str(school_id) + '&logoTag=logo&truncationLength=250&readMoreOmission=...&readMoreText=Read%20More&readLessText=Read%20Less'

    data = requests.get(url).json()

    data.keys()

    courses = data['content']['courses']
    courses_df = pd.DataFrame(courses, columns= ['courses'])

    locations = data['content']['locations']
    locations_df = json_normalize(locations)

    badges_df = pd.DataFrame(data['content']['meritBadges'])

    website = data['content']['webaddr']
    description = data['content']['description']
    logoUrl = data['content']['logoUrl']
    school_df = pd.DataFrame([website,description,logoUrl]).T
    school_df.columns =  ['website','description','LogoUrl']
    reviews_df = data['content']['reviewMetric']


    locations_df['school'] = school
    courses_df['school'] = school
    badges_df['school'] = school
    school_df['school'] = school
    reviews_df['school'] = school


    locations_df['school_id'] = school_id
    courses_df['school_id'] = school_id
    badges_df['school_id'] = school_id
    school_df['school_id'] = school_id
    reviews_df['school_id'] = school_id

    return locations_df, courses_df, badges_df, school_df,reviews_df

locations_list = []
courses_list = []
badges_list = []
schools_list = []
reviews_list = []

for school, id in schools.items():
    print(school)
    a,b,c,d,e = get_school_info(school,id)

    locations_list.append(a)
    courses_list.append(b)
    badges_list.append(c)
    schools_list.append(d)
    reviews_list.append(e)

ironhack

C:\Users\pablo\AppData\Local\Temp\ipykernel_19416\3067541099.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

app-academy

C:\Users\pablo\AppData\Local\Temp\ipykernel_19416\3067541099.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

springboard

C:\Users\pablo\AppData\Local\Temp\ipykernel_19416\3067541099.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

le-wagon

C:\Users\pablo\AppData\Local\Temp\ipykernel_19416\3067541099.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

general-assembly

C:\Users\pablo\AppData\Local\Temp\ipykernel_19416\3067541099.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

brainstation

C:\Users\pablo\AppData\Local\Temp\ipykernel_19416\3067541099.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

flatiron-school

C:\Users\pablo\AppData\Local\Temp\ipykernel_19416\3067541099.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

4geeks-academy

C:\Users\pablo\AppData\Local\Temp\ipykernel_19416\3067541099.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

academia-de-codigo

C:\Users\pablo\AppData\Local\Temp\ipykernel_19416\3067541099.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

wild-code-school

C:\Users\pablo\AppData\Local\Temp\ipykernel_19416\3067541099.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

edit-disruptive-digital-education

C:\Users\pablo\AppData\Local\Temp\ipykernel_19416\3067541099.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

nuclio-digital-school

C:\Users\pablo\AppData\Local\Temp\ipykernel_19416\3067541099.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

neoland

C:\Users\pablo\AppData\Local\Temp\ipykernel_19416\3067541099.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

la-capsule

C:\Users\pablo\AppData\Local\Temp\ipykernel_19416\3067541099.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

careerfoundry

C:\Users\pablo\AppData\Local\Temp\ipykernel_19416\3067541099.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

neue-fische

C:\Users\pablo\AppData\Local\Temp\ipykernel_19416\3067541099.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

In [6]:
reviews = pd.DataFrame(reviews_list)
reviews

   overallRating  reviewCount                             school  school_id
0            4.8         1285                           ironhack      10828
1           4.69         1198                        app-academy      10525
2           4.68         1558                        springboard      11035
3           4.98         2731                           le-wagon      10868
4           4.27          999                   general-assembly      10761
5           4.67          313                       brainstation      10571
6            4.6          266                    flatiron-school      10748
7           4.89          180                     4geeks-academy      10492
8            4.9          282                 academia-de-codigo      10494
9            4.8          100                   wild-code-school      11169
10           5.0            1  edit-disruptive-digital-education      10731
11          4.43            7              nuclio-digital-school      11509
12          4.77          182                            neoland      10906
13          4.98          331                         la-capsule      10853
14          4.46          183                      careerfoundry      10581
15           0.0            0                        neue-fische      11753

In [7]:
reviews['overallRating'] = reviews['overallRating'].astype(float)

In [9]:
reviews[reviews['reviewCount'] > 1000]

   overallRating  reviewCount       school  school_id
0           4.80         1285     ironhack      10828
1           4.69         1198  app-academy      10525
2           4.68         1558  springboard      11035
3           4.98         2731     le-wagon      10868

In [10]:
courses = pd.concat(courses_list)
courses[courses['school'].isin(['ironhack', 'app-academy', 'springboard', 'le-wagon'])]

                                              courses       school  school_id
0                             Cyber Security Bootcamp     ironhack      10828
1                             Cybersecurity Part-Time     ironhack      10828
2                             Data Analytics Bootcamp     ironhack      10828
3                            Data Analytics Part-Time     ironhack      10828
4                               UX/UI Design Bootcamp     ironhack      10828
5                              UX/UI Design Part-Time     ironhack      10828
6                            Web Development Bootcamp     ironhack      10828
7                           Web Development Part-Time     ironhack      10828
0                16-week Software Engineering Program  app-academy      10525
1                                       Bootcamp Prep  app-academy      10525
2                            Bootcamp Prep Self-Paced  app-academy      10525
3   16-Week Online Full-Time Accelerated Software ...  app-academy      10525
4    24-week Software Engineering Program (Full Time)  app-academy      10525
5    48-week Software Engineering Program (Part Time)  app-academy      10525
6                                    App Academy Open  app-academy      10525
0                         Cyber Security Career Track  springboard      11035
1                         Data Analytics Career Track  springboard      11035
2                           Data Science Career Track  springboard      11035
3                      Data Science Career Track Prep  springboard      11035
4                           Front-End Web Development  springboard      11035
5                      Introduction to Data Analytics  springboard      11035
6                              Introduction to Design  springboard      11035
7                   Software Engineering Career Track  springboard      11035
8       Software Engineering Career Track Prep Course  springboard      11035
9            Software Engineering Foundations to Core  springboard      11035
10                            Tech Sales Career Track  springboard      11035
11                          UI/UX Design Career Track  springboard      11035
12                                    UX Career Track  springboard      11035
0                          Data Analytics - Full-Time     le-wagon      10868
1                          Data Analytics - Part-Time     le-wagon      10868
2                        Data Engineering - Full-Time     le-wagon      10868
3                        Data Engineering - Part-Time     le-wagon      10868
4                       Data Science & AI - Full-Time     le-wagon      10868
5                       Data Science & AI - Part-Time     le-wagon      10868
6                         Web Development - Full-Time     le-wagon      10868
7                         Web Development - Part-Time     le-wagon      10868

In [11]:
courses.groupby('school').agg({'courses':'count'})

                                   courses
school
4geeks-academy                           4
academia-de-codigo                       1
app-academy                              7
brainstation                            20
careerfoundry                           18
edit-disruptive-digital-education        6
flatiron-school                         13
general-assembly                        14
ironhack                                 8
la-capsule                               3
le-wagon                                 8
neoland                                  6
neue-fische                              5
nuclio-digital-school                    9
springboard                             13
wild-code-school                         6

In [ ]:
from pandas.io.json import json_normalize
import requests
import pandas as pd

def get_school_info(school, school_id):
    url = 'https://www.switchup.org/chimera/v1/bootcamp-data?mainTemplate=bootcamp-data%2Fdescription&path=%2Fbootcamps%2F'+ str(school) + '&isDataTarget=false&bootcampId='+ str(school_id) + '&logoTag=logo&truncationLength=250&readMoreOmission=...&readMoreText=Read%20More&readLessText=Read%20Less'

    data = requests.get(url).json()

    courses = data['content']['courses']
    courses_df = pd.DataFrame(courses, columns= ['courses'])

    locations = data['content']['locations']
    locations_df = json_normalize(locations)

    badges_df = pd.DataFrame(data['content']['meritBadges'])

    website = data['content']['webaddr']
    description = data['content']['description']
    logoUrl = data['content']['logoUrl']
    school_df = pd.DataFrame([website,description,logoUrl]).T
    school_df.columns =  ['website','description','LogoUrl']

    locations_df['school'] = school
    courses_df['school'] = school
    badges_df['school'] = school
    school_df['school'] = school

    locations_df['school_id'] = school_id
    courses_df['school_id'] = school_id
    badges_df['school_id'] = school_id
    school_df['school_id'] = school_id

    return data, locations_df, courses_df, badges_df, school_df

locations_list = []
courses_list = []
badges_list = []
schools_list = []
data_list = []  # Added a list to store 'data' for each school

for school, id in schools.items():
    print(school)
    data, a, b, c, d = get_school_info(school, id)

    locations_list.append(a)
    courses_list.append(b)
    badges_list.append(c)
    schools_list.append(d)
    data_list.append(data)  # Append 'data' for each school

In [ ]:
data_list